<footer class="app-footer" role="contentinfo">
  <div class="footer-content">
    <nav class="footer-links">
      <div class="login_flags">

        <div *ngIf="user() as u; else showLogin" class="user-info">
          <a href="#" class="login-link user" role="link" (click)="goToProfile($event)">
            <app-icon name="CircleUser" [size]="18" aria-hidden="true"></app-icon>
            <span class="user-name">{{ u.name }}</span>
          </a>

          <a href="" class="login-link logout-link" role="button"
             (click)="logout(); $event.preventDefault()"> Sair </a>
        </div>

        <ng-template #showLogin>
          <a routerLink="/login" class="login-link"> Entrar </a>
        </ng-template>

      </div>

    </nav>

    <small class="copyright">
      v{{ version }} · © {{ year }} Diogo Pereira. Todos os direitos reservados.
    </small>
  </div>
</footer>
