<div class="page-container">
  <div class="page-header">
    <h1 class="page-title">Categorias</h1>

    <div class="page-actions">
      <button routerLink="/categorias/criar">
        <app-icon name="Plus" [size]="24" class="svg-icon"></app-icon>
        <span>Criar Categoria</span>
      </button>
    </div>
  </div>

  <div *ngIf="isLoading$ | async" class="loading-state">A carregar...</div>

  <div *ngIf="!(isLoading$ | async)" class="content-container">
    <ng-container *ngIf="(categorias$ | async) as categorias">
      <div *ngIf="categorias.length === 0" class="empty-state">
        <p>Não existem categorias criadas.</p>
      </div>

      <div *ngIf="categorias.length > 0" class="cards-grid">
        <div *ngFor="let categoria of categorias" class="card card--hover">
          <div class="card-icon-wrapper">
            <div class="card-icon card-icon--circle">{{ categoria.icon }}</div>
          </div>

          <div class="card-content">
            <h3 class="card-title">{{ categoria.nome }}</h3>
          </div>

          <div class="card-actions">
            <button [routerLink]="['/categorias/editar', categoria.id]" class="btn-action">
              <app-icon name="Pencil" [size]="24" class="svg-icon"></app-icon>
              <span>Editar</span>
            </button>

            <button (click)="deleteCategoria(categoria.id)" class="btn-delete">
              <app-icon name="Trash" [size]="24" class="svg-icon"></app-icon>
              <span>Eliminar</span>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</div>
