<div class="nova-transacao-wrapper">
  <button class="nova-transacao-btn" (click)="toggleMenu($event)">
    <app-icon name="Plus" [size]="24" class="nova-transacao-icon"></app-icon>
    Nova Transação
  </button>

  <div class="nova-transacao-menu" *ngIf="showMenu()" (click)="$event.stopPropagation()">
    <a routerLink="/transacoes/criar-entradas">
      <app-icon name="ArrowUpRight" [size]="24" class="svg-icon"></app-icon>
      Entrada
    </a>
    <div class="menu-divider"></div>
    <a routerLink="/transacoes/criar-saidas">
      <app-icon name="ArrowDownLeft" [size]="24" class="svg-icon"></app-icon>
      Saída
    </a>

    <ng-container *ngIf="showCartaoOptions">
      <div class="menu-divider"></div>
      <a routerLink="/transacoes/criar-credito">
        <app-icon name="CreditCard" [size]="24" class="svg-icon"></app-icon>
        Crédito
      </a>
      <div class="menu-divider"></div>
      <a routerLink="/transacoes/criar-reembolso">
        <app-icon name="CornerUpLeft" [size]="24" class="svg-icon"></app-icon>
        Reembolso
      </a>
    </ng-container>
  </div>
</div>
