<div class="card card--hover">
  <div class="card-icon-wrapper">
    <div *ngIf="icon; else projectedIcon" class="card-icon card-icon--circle">{{ icon }}</div>
    <ng-template #projectedIcon>
      <ng-content select="[card-icon]"></ng-content>
    </ng-template>
  </div>

  <div class="card-content">
    <h3 class="card-title">{{ title }}</h3>
    <p *ngIf="value" class="card-value">{{ value }}</p>
    <ng-content></ng-content>
  </div>

  <div class="card-actions" *ngIf="showActions && (editRoute || actionText || showDelete)">
    <button *ngIf="editRoute" [routerLink]="editRoute" class="btn-action">
      <app-icon [name]="editIcon || 'Pencil'" [size]="16"></app-icon>
      <span>{{ editText }}</span>
    </button>

    <button *ngIf="actionText" (click)="actionClicked.emit()" [routerLink]="actionRoute" class="btn-action">
      <app-icon *ngIf="actionIcon" [name]="actionIcon" [size]="16"></app-icon>
      <span>{{ actionText }}</span>
    </button>

    <ng-content select="[card-actions]"></ng-content>

    <button *ngIf="showDelete" (click)="deleteClicked.emit()" class="btn-delete">
      <app-icon name="Trash" [size]="16"></app-icon>
      <span>{{ deleteText }}</span>
    </button>
  </div>
</div>
